<AuthorizeView>
    <Authorized Context="authContext">
        <div class="navbar-container navbar-container-right">
            <NavLink class="nav-link nav-link-right" href="/Account/Manage"> Профил </NavLink>
            <Button Type="ButtonType.Submit" Class="nav-link nav-link-right"> Изход </Button>
        </div>
    </Authorized>
</AuthorizeView>