<AuthorizeView>
    <Authorized Context="authContext">
        <div class="navbar-container navbar-container-right">
            <NavLink class="nav-link nav-link-right" href="/Account/Manage"> Профил </NavLink>
            <NavLink class="nav-link nav-link-right" href="/Account/Logout"> Изход </NavLink>
        </div>
    </Authorized>
</AuthorizeView>