@inherits LayoutComponentBase

<ErrorBoundary>
    <div class="page">
        <main>
            <NavMenu />

            <div class="body-content">
                @Body
            </div>

            <div class="page-footer">
                <div class="container text-center bg-abvmiddlegreen">
                    <p>АБВ Инвестиции. Всички права запазени. &copy; 2024</p>
                </div>
            </div>
        </main>
    </div>
</ErrorBoundary>

<div id="blazor-error-ui">
    <h3 class="bg-abvred text-center">Възникна грешка.</h3>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
