/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */
body {
    padding: 0;
}

.body-content {
    margin-top: 50px;
}

/* Navbar*/
.navbar {
    color: #d2db34;
    background-color: #2a833f;
}

.navbar-container {
    resize: horizontal;
    overflow: hidden;
    display: flex;
    margin-left: 100px;
}

.navbar-brand {
    flex: initial;
    padding: 5px 10px;
    color: #D2DB34 !important;
}

    .navbar-brand:hover {
        color: #2A833F !important;
        background-color: #D2DB34;
    }

.nav-link {
    flex: auto;
    padding: 10px 20px 0;
    color: #D2DB34;
}

    .nav-link:hover {
        color: #2A833F !important;
        background-color: #D2DB34;
    }

/*Index*/
.carousel-slide {
    margin-bottom: 50px;
}

.menu-link:hover {
    color: #2A833F;
}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*About*/
.about-paragraph {
    text-align: justify;
}

.abv-logo {
    margin-bottom: 20px;
}

/*Contact*/
.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 450px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 450px;
}

.gmap_iframe {
    height: 450px !important;
}

/* Font-sizes*/
.large-fontsize {
    font-size: 20px !important;
}

.extra-large-fontsize {
    font-size: 24px !important;
}

/* Text colors*/
.bg-abvdarkgreen {
    color: #2A833F;
}

.bg-abvmiddlegreen {
    color: #89BF32;
}

.bg-abvlightgreen {
    color: #D2DB34;
}

.bg-abvred {
    color: #DF0101;
}

/* Backgroud color*/
.bg-bg-abvdarkgreen {
    background-color: #2A833F;
}

.bg-bg-abvmiddlegreen {
    background-color: #89BF32;
}

.bg-bg-abvlightgreen {
    background-color: #D2DB34;
}

.hr-2 {
    line-height: 2;
    color: #89bf32
}
