@if (DisplayMessages?.Count() > 0)
{
    var statusMessageClass = Success ? "success" : "danger";
    <div class="display-message alert alert-@statusMessageClass mb-3" role="alert">
        @foreach (var message in DisplayMessages)
        {
            <p class="message-line">@message</p>
        }
    </div>
}

@code {
    [Parameter]
    public IEnumerable<string> DisplayMessages { get; set; } = [];

    [Parameter]
    public bool Success { get; set; }
}
