@page "/Account/Login"

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager;
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<div class="container">
    <h2 class="bg-abvmiddlegreen"> Вход за потребители </h2>
    <hr />

    <div class="col-md-4">
        <StatusMessage Message="@errorMessage" />
        <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3 login-box">
                <InputText @bind-Value="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="username" />
                <label for="username" class="form-label"> Потребител </label>
                <ValidationMessage For="() => Input.UserName" class="text-danger" />
            </div>
            <div class="form-floating mb-3 login-box">
                <InputText @bind-Value="Input.PIN" class="form-control" autocomplete="pin" aria-required="true" placeholder="PIN" />
                <label for="pin" class="form-label"> ПИН </label>
                <ValidationMessage For="() => Input.PIN" class="text-danger" />
            </div>
            <div class="form-floating mb-3 login-box">
                <InputText type="password" @bind-Value="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <label for="password" class="form-label"> Парола </label>
                <ValidationMessage For="() => Input.Password" class="text-danger" />
            </div>
            <div>
                <button type="submit" class="btn bg-bg-abvlightgreen bg-abvdarkgreen large-fontsize register-button w-50"> Вход </button>
            </div>
            <div class="login-links">
                <p>
                    <a href="Account/ForgotPassword" class="bg-abvmiddlegreen"> Забравена парола </a>
                </p>
                <p>
                    <a href="@(NavigationManager.GetUriWithQueryParameters("Account/Register", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))" class="bg-abvmiddlegreen"> Регистрирайте се като нов потребител </a>
                </p>
                <p>
                    <a href="Account/ResendEmailConfirmation" class="bg-abvmiddlegreen"> Препрати имейл потвърждение </a>
                </p>
            </div>
        </EditForm>
    </div>

    <BackToPageLink />
</div>

@code {
    private string? errorMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    public async Task LoginUser()
    {
        // This doesn't count login failures towards account lockout
        // To enable password failures to trigger account lockout, set lockoutOnFailure: true
        var result = await SignInManager.PasswordSignInAsync(Input.UserName, Input.Password, isPersistent: false, lockoutOnFailure: false);
        if (result.Succeeded)
        {
            var dbUser = UserManager.Users.SingleOrDefault(u => u.UserName == this.Input.UserName);
            if (dbUser == null || this.Input.PIN != dbUser.PIN)
            {
                errorMessage = Messages.User.InvalidLogInAttempt;
            }

            Logger.LogInformation("User logged in.");
            RedirectManager.RedirectTo(ReturnUrl);
        }
        else if (result.IsLockedOut)
        {
            Logger.LogWarning("User account locked out.");
            RedirectManager.RedirectTo("Account/Lockout");
        }
        else
        {
            errorMessage = Messages.User.InvalidLogInAttempt;
        }
    }

    private sealed class InputModel
    {
        [Required(ErrorMessage = Messages.Common.RequiredField)]
        [RegularExpression(ShortConstants.User.UserNameRegex, ErrorMessage = Messages.User.UsernameError)]
        public string UserName { get; set; }

        [Required(ErrorMessage = Messages.Common.RequiredField)]
        [RegularExpression(ShortConstants.User.PINRegex, ErrorMessage = Messages.User.PINError)]
        [Display(Name = "PIN")]
        public string PIN { get; set; }

        [Required(ErrorMessage = Messages.Common.RequiredField)]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";
    }
}
