@page "/Common/Contact"

<div class="container">
    <h2 class="bg-abvmiddlegreen"> Контакти </h2>
    <hr />
    <div class="row">
        <div class="col-md-6 large-fontsize">
            <p class="bg-abvmiddlegreen large-fontsize">Нашите сътрудници:</p>
            <p>
                <strong>Драган Драганов:</strong> управител
            </p>
            <p>
                <strong>Велизар Фурлански:</strong> брокер на ценни книжа
            </p>
            <p>
                <strong>Иво Петров:</strong> брокер на ценни книжа
            </p>
            <p>
                <strong>Василка Андреева:</strong> вътрешен контрол
            </p> <br />

            <p class="bg-abvmiddlegreen">
                Kлиентска сметка:
            </p>
            <p>
                Тексим банк АД
            </p>

            <p>
                <strong>BIC: TEXIBGSF</strong>
            </p>
            <p>
                <strong>IBAN: BG79TEXI95451005175202</strong>
            </p>
        </div>

        <div class="col-md-6 large-fontsize">
            <p class="bg-abvmiddlegreen">
                Aдрес:
            </p>
            <p>
                <strong>гр. Варна, бул. „Цар Борис I“ 7, етаж 2</strong>
            </p>
            <p>
                Телефони за връзка: <strong>052 601 594; 052 601 592</strong>
            </p> <br />

            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3646.73134137951!2d27.914542!3d43.203267!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a4540b192ceb19%3A0x41c7f6e7c4270cf1!2z0JDQkdCSINCY0L3QstC10YHRgtC40YbQuNC4INCV0J7QntCU!5e1!3m2!1sen!2sus!4v1730022653949!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>

@code {

}
