@page "/Common/News"

@rendermode InteractiveServer

@inject IRSSFeedService RSSFeedParser
@inject NavigationManager NavigationManager;

<div class="container">
    <h2 class="bg-abvmiddlegreen"> Новини </h2>
    <hr />
    @if (RssModels != null && RssModels.Count() > 0)
    {
        foreach (var item in RssModels)
        {
            <a class="bg-abvdarkgreen" target="_blank" href="@item.Uri"> @item.Title </a>
            <div class="bg-abvmiddlegreen"> @item.Summary </div>
            <div class="bg-abvlightgreen"> @item.PublishedDate </div>
            <hr />
        }
    }
</div>

@code {
    private IEnumerable<RSSFeedViewModel> RssModels = new List<RSSFeedViewModel>();

    protected override async Task OnInitializedAsync()
    {
        RssModels = await RSSFeedParser.LoadNews();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            var timer = new Timer(new TimerCallback(_ =>
            {
                NavigationManager.Refresh();
            }), null, 60000, 60000);
        }
    }
}
