@page "/AdminArea/UploadPortfoliosInfo"

@attribute [Authorize(Roles = ShortConstants.Role.Admin)]

@rendermode InteractiveServer

@inject IDeserialiser UploadsHelper
@inject IPortfoliosService PortfoliosService

<div class="container">
    <UploadForm LabelPart="портофолиа" AddInfoCallback="AddPortfolios"></UploadForm>

    <div class="status-message">
        <StatusDisplayMessage DisplayMessages="@ErrorMessages" Success="@Success" />
    </div>

    <BackToPageLink />
</div>

@code {
    private IEnumerable<string>? ErrorMessages;
    private bool Success;

    private async Task AddPortfolios(FileInputModel Input)
    {
        if (Input.Date != default && Input.XMLFiles is not null)
        {
            foreach (var file in Input.XMLFiles)
            {
                if (file.ContentType.EndsWith(ShortConstants.Common.XmlFileContentType))
                {
                    var fileName = Path.Combine(Directory.GetCurrentDirectory(), ShortConstants.Common.FileUploadFolder, ShortConstants.Common.UploadedFile);
                    if (file.Size > 0)
                    {
                        var deserializedPortfolios = await UploadsHelper.DeserialiseXmlFile<PortfolioRowBindingModel>(fileName, file);
                        if (deserializedPortfolios.Count() == 0 || !ModelValidator.IsValid(deserializedPortfolios))
                            ErrorMessages = [Messages.Common.CouldNotUploadInformation];
                        else
                        {
                            var result = await this.PortfoliosService.SeedPortfoliosAsync(deserializedPortfolios, Input.Date!.Value);
                            if (!result.IsSuccessful())
                            {
                                Success = false;
                                ErrorMessages = result.Errors;
                            }
                            else
                            {
                                Success = true;
                                ErrorMessages = [Messages.DealsAndPortfolios.UploadingSuccessfull];
                            }
                        }
                    }
                }
            }
        }
    }
}
