<div class="container">
    <div clas="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <img src="https://res.cloudinary.com/mausha/image/upload/v1543241400/ABV/ABVlogo.jpg" alt="ABV-logo" class="img-responsive" asp-append-version="true">
        </div>
    </div>
    <div class="index-buttons">
        <div class="row">
            <div class="menu-button bg-bg-abvlightgreen col-md-4 text-center">
                <a class="menu-link bg-abvdarkgreen" href="/AdminArea/UploadPortfoliosInfo"><h3>Качи портфолиа</h3></a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4"></div>
            <div class="menu-button bg-bg-abvlightgreen col-md-4 text-center">
                <a class="menu-link bg-abvdarkgreen" href="/AdminArea/UploadDealsInfo"><h3>Качи сделки</h3></a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-8"></div>
            <div class="menu-button bg-bg-abvlightgreen col-md-4 text-center">
                <a class="menu-link bg-abvdarkgreen" href="/AdminArea/AddData"><h3>Добавяне на данни</h3></a>
            </div>
        </div>
    </div>
</div>

@code {

}
