<div class="container">
    <div class="carousel-slide">
        <Carousel Autoplay="CarouselAutoPlay.StartOnPageLoad">
            <CarouselItem Active="true">
                <Image Src="https://res.cloudinary.com/mausha/image/upload/v1543241497/ABV/bullandbear.png" />
                <CarouselCaption>
                    <h2><strong>АБВ Инвестиции - Вашият партньор на фондовата борса.</strong></h2>
                </CarouselCaption>
            </CarouselItem>
            <CarouselItem>
                <Image Src="https://res.cloudinary.com/mausha/image/upload/v1543241446/ABV/business.jpg" />
                <CarouselCaption>
                    <h2><strong>Инвестирайте парите си с нас!</strong></h2>
                </CarouselCaption>
            </CarouselItem>
            <CarouselItem>
                <Image Src="https://res.cloudinary.com/mausha/image/upload/v1543241449/ABV/buysellgreen.jpg" />
                <CarouselCaption>
                    <h2><strong>Покупка и продажба на акции.</strong></h2>
                </CarouselCaption>
            </CarouselItem>
        </Carousel>
    </div>

    <div class="row">
        <div class="menu-button bg-bg-abvlightgreen col-md-4 text-center">
            <a class="menu-link bg-abvdarkgreen extra-large-fontsize" href="/Account/Register"> Регистрация </a>
        </div>
        <div class="menu-button bg-bg-abvlightgreen col-md-4 text-center">
            <a class="menu-link bg-abvdarkgreen extra-large-fontsize" href="/Account/Login"> Вход </a>
        </div>
        <div class="menu-button menu-link bg-bg-abvlightgreen col-md-4 text-center">
            <a class="menu-link bg-abvdarkgreen extra-large-fontsize" href="/CommonArea/News"> Новини </a>
        </div>
    </div>
</div>

@code {

}
