@using ABVInvest.Data.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager

<div clas="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <img src="https://res.cloudinary.com/mausha/image/upload/v1543241400/ABV/ABVlogo.jpg" alt="ABV-logo" class="img-responsive" asp-append-version="true">
    </div>
</div>

<div class="index-buttons">
    <div class="row">
        <div class="menu-button bg-bg-abvlightgreen col-md-4 text-center">
            <a class="menu-link bg-abvdarkgreen" href="/UserArea/Portfolio"><h3>Портфолио</h3></a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="menu-button bg-bg-abvlightgreen col-md-4 text-center">
            <a class="menu-link bg-abvdarkgreen" href="/UserArea/Deals"><h3>Сделки</h3></a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8"></div>
        <div class="menu-button bg-bg-abvlightgreen col-md-4 text-center">
            <a class="menu-link bg-abvdarkgreen" href="/UserArea/Balances"><h3>Баланс</h3></a>
        </div>
    </div>
</div>

<Button Type="ButtonType.Link" @onclick="Logout">Изход</Button>

@code {
    private async Task Logout(){
        await this.SignInManager.SignOutAsync();
    }
}
